#about ul {
    list-style-type: disc;
    padding-left: 2em;
}

#about ol {
    list-style-type: decimal;
    padding-left: 2em;
}

#about li::marker {
    color: var(--muted-foreground);
}

#about a {
    text-decoration: underline;
    text-underline-offset: 1px;
}

#about a:hover {
    text-underline-offset: 4px;
}

#about code:not(pre code) {
    padding-inline: 0.2em;
    padding-block: 0.1em;
    background: #91919144;
    border-radius: var(--radius-sm);
    line-height: 1;
    vertical-align: baseline;
}

#about pre {
    position: relative;
    backdrop-filter: blur(var(--blur-sm)) grayscale(100%);
}

#about pre[data-language]::before {
    content: attr(data-language);
    position: absolute;
    top: 0.8em;
    right: 1.2em;
    font-size: 0.6rem;
    pointer-events: none;
}

pre code.hljs,
.mermaid-container {
    margin-block: 0.5em;
    border-radius: var(--radius-md);
    background-color: #ffffff07;
    border: var(--muted-foreground) 1px solid;
    transition: all 0.2s ease;
}

@media (max-width: 500px) {

    .pre code.hljs,
    .katex * {
        font-size: var(--text-xs) !important;
        line-height: var(--text-xs--line-height) !important;
    }
}

pre code.hljs:hover,
.mermaid-container:hover {
    border-radius: var(--radius-2xl);
    border-color: var(--secondary-foreground);
}

#about p {
    margin-bottom: 1em;
}

.mermaid-container {
    padding-block: 0.5em;
    backdrop-filter: hue-rotate(270deg);
}

path.flowchart-link,
marker#arrowhead path,
.messageLine0 {
    stroke: hsl(259.6261682243, 59.7765363128%, 87.9019607843%) !important;
    stroke-width: 2px !important;
}
